
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.main-color{
  /*background-color: #a3a5a8;*/
}
/*=======================COURSES================================*/

ul {
  margin-top: 80px;
}
h1{
  text-align: center;
}
.course-list {
  background-color: black;
  border: none;
  border-radius: 6px;
}

.course-title {
   height: 50px;
   width: 600px;
   background-color: #007EB5;
   font-size: 21px;
   color: white;
   font-weight: 300;
   margin-top: 1px;
   border-color: black;
 }
 li > a {
   color: #f2f2f2;
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
 }

/*========================================================================*/

 /*======================= Users ================================*/


 tr > td{
   vertical-align: middle;
 }

 table{
   padding-top: 10px;
 }

/*========================================================================*/

/*======================== FORMS ===========================================*/
.creation-form{
  height: 600px;
  padding: 8px 0;
  text-align: center;
  background-color: #F4F4F4;
  border: 1px solid #0e6184;
  border-radius: 3px;

}
.creation-form label {
  color: #666;
  font-size: 15px:
  display: inline-block;
  text-align: center;
  margin-top: 7px;
  width: 70%;
}
.creation-form input,
.creation-form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 70%;
  margin-top: 15px;
}
.medium {
  margin: 0 auto;
  width: 388px;
}
.creation-form button {
  background: #257ab9;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 7px 16px;
  margin-top: 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 70%;
}

.creation-form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
}
/*========================================================================*/

/*======================LOGIN FORM================================*/
h1{
  color: #e5e5e5;
}
.center{
  margin: auto;
  text-align: center;
}
.black{
  background-color: #242829;
}
section{
  width: 400px;
  height: 620px;
}
p{
  color: white;
  font-weight: 200;
}
.logo {
  width: 400px;
}
 a{
   display: block;
 }

 .login-form{
   height: 90%;
 }
 .login-form label {
   color: #666;
   display: inline-block;
   text-align: center;
   margin-top: 7px;
   width: 70%;
 }
 .login-form input,
 .login-form button {
   box-sizing: border-box;
   font-size: 14px;
   outline: 0;
   padding: 4px;
   width: 70%;
   margin-top: 15px;
 }

 .login-form button {
   background: #257ab9;
   border: 1px solid #43a3e6;
   border-radius: 4px;
   color: #fff;
   cursor: pointer;
   display: inline-block;
   font-size: 14px;
   padding: 7px 16px;
   margin-top: 20px;
   text-decoration: none;
   text-transform: uppercase;
   transition: .3s ease background;
   width: 70%;
 }

.facebook{
  width: 84%;
  text-align: center;
  margin: 25px auto;
}
span img{
  width: 100%;
  display: inline-block;
  margin: 0 10px 12px 0;
}
 .login-form button:hover {
   background: #fff;
   color: #43a3e6;
   transition: .3s ease background;
 }


 .error-message {
   background: red;
   box-sizing: border-box;
   color: #fff;
   margin: 0 auto;
   padding: 20px;
   width: 90%;
 }
/*============================COURSES SHOW VIEW ============================*/
.delete-course-form {
  margin-top: 30px;
}
.add-student-form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 70%;
  margin-top: 15px;
}

article.new-student{
  height: 500px;
}
.course-edit-btn{
  color: white;
}
.course-edit-btn:hover{
  text-decoration: none;
}
.delete-btn, .edit-btn {
  margin: 20px 0;
  width: 150px;
  height: 38px;
}
.enrolled{
  margin: 100px 0;
}
