<div class="container">


  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Ironhack available courses</h4>
    </div>
  </div>
  <% if( user.role === "Teacher Assistant") {%>
    <a href="/courses/new">Create new course</a>
  <% } %>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-2">
      <ul class="list-group course-list">
        <% courses.forEach((course) =>{ %>
          <li class="list-group-item course-title">
            <a href="courses/<%=course._id%>"><%= course.name%></a>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>
